---
layout: default
---

<div class="page blog-index">
  <!-- Hero -->
  <h1>Bloggie Blog</h1>

  <!-- Two Columns -->
  <div class="col-two blog-cols">
    
    <!-- side bar(aside) -->
    <div class="col col-aside blog-recent">
      <h4>Recent Posts</h4>
      <ul class="blog-title-list">
        {% for post in site.posts limit:5 %}
          <li>
            <a href="{{ post.url }}">{{ post.title }}</a>
            <span>Posted: {{ post.date | date: '%B %d, %Y' }}</span>
          </li>
        {% endfor %}
      </ul>
    </div>
    
    <!-- content header & byline -->
    <div class="col col-content blog-previews">
      {% for post in site.posts %}
        <div class="blog-posts">
          <!-- content header -->
          <header class="post-header">
            <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
            <!-- byline -->
            <div class="post-byline">
              <img src="{{ post.gravatar }}">
              <a href="{{ post.authorTwitter }}" class="social-link">Tw</a>
              by: {{ post.author }}
              <span> - {{ post.date | date: '%B %d, %Y' }}</span>
            </div>
          </header>

          <!-- post image -->
          <div class="post-image" style="background-image:url({{ post.postHero }})">
          </div>
          {{ post.excerpt | truncatewords: 50 }}
        </div>
      {% endfor %}
    </div>

  </div>
</div>